<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button>Atras</ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>DuocUC</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <h1>REGISTRO</h1>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input [(ngModel)]="apellido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Rut (9 caracteres)</ion-label>
        <ion-input [(ngModel)]="rut"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <ion-button expand="full" (click)="registerUser()">Registrarse</ion-button>
    <ion-button expand="full" color="medium" [routerLink]="['/login']">Volver a Login</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
