<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Registro de Alumnos
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true" color="light">
  <!-- ... Tu contenido anterior ... -->
  <ion-card>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Registro de alumnos</ion-title>
      </ion-toolbar>
    </ion-header>


    <ion-button size="small" expand="full" (click)="generarRegistro()">Generar registro</ion-button>

    <!-- Mostrar los valores generados -->
    <ion-list>
      <ion-item>
        <ion-label>Dia</ion-label>
        <ion-badge color="warning">{{dia}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Mes</ion-label>
        <ion-badge color="warning">{{mes}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Año</ion-label>
        <ion-badge color="warning">{{ano}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Hora</ion-label>
        <ion-badge color="warning">{{hora}}</ion-badge>
      </ion-item>
    </ion-list>


    <ion-button id="open-toast" expand="full" (click)="guardarRegistro()">Guardar Registro</ion-button>
    <ion-toast trigger="open-toast" message="Su registro se ha generado exitosamente" [duration]="3000" icon="globe"></ion-toast>

    <ion-button expand="full" (click)="mostrarRegistros()">Mostrar registros</ion-button>


    <ion-list *ngIf="mostrarLista && registros.length > 0">
      <ion-item *ngFor="let registro of registros">
        <ion-label>Fecha</ion-label>
        <ion-badge color="primary">{{ registro.fecha | date: "medium" }}</ion-badge>
      </ion-item>
      <ion-item *ngFor="let registro of registros">
        <ion-label>Día</ion-label>
        <ion-badge color="secondary">{{ registro.dia }}</ion-badge>
      </ion-item>
      <ion-item *ngFor="let registro of registros">
        <ion-label>Mes</ion-label>
        <ion-badge color="tertiary">{{ registro.mes }}</ion-badge>
      </ion-item>
      <ion-item *ngFor="let registro of registros">
        <ion-label>Año</ion-label>
        <ion-badge color="success">{{ registro.ano }}</ion-badge>
      </ion-item>
      <ion-item *ngFor="let registro of registros">
        <ion-label>Hora</ion-label>
        <ion-badge color="danger">{{ registro.hora }}</ion-badge>
      </ion-item>
    </ion-list>
</ion-card>
</ion-content>
