<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registro de Alumnos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro de alumnos</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-button size="small" (click)="mostrarFecha()">Generar registro</ion-button>



  <ion-list>
    <ion-item>
      <ion-label>Dia</ion-label>
      <ion-badge color="warning">{{dia}}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>Mes</ion-label>
      <ion-badge color="warning">{{mes}}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>Año</ion-label>
      <ion-badge color="warning">{{ano}}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>Hora</ion-label>
      <ion-badge color="warning">{{hora}}</ion-badge>
    </ion-item>

    

  </ion-list>

</ion-content>