ion-header{
    ion-toolbar, ion-item{
      --background: #0084ff;
      background: #0084ff;
      padding: 0 20px;
      text-align: center;
      color: #000000;

      ion-back-button{
        color: black;
      }
    }
  
    ion-toolbar{
      .bordered{
        --border-radius: 10px;
        --box-shadow: 5px 5px 10px #ffd000, -5px -5px 10px #ffd000;
      }

      ion-button{
        color: white;
      }
    }
  
    ion-item{
      --padding-bottom:20px;
  
      h3{
        font-weight: 700;
        font-size: 14px;
        color: #000000;
      }
      p{
        font-weight: 500;
        font-size: 14px;
        color: #000000;
      }
  
      ion-avatar{
        --border-radius: 40%;
      }
    }
  }
  
  
  ion-content{
    --background: rgb(229, 241, 255);
  
    .container{
      padding: 6px 20px;
      color: #006aff;
    
  
      ion-item {
        --background: #ffd61e;
        padding: 0;
        margin: 14px 0;
        --border-radius: 14px;
        color: black;
        font-weight: 600;
  
        ion-label {
          padding: 6px 0;
  
          h4 {
            font-weight: 600;
            font-size: 16px;
          }
          h6 {
            color: rgba(255,255,255,.66);
          }
        }
  
      }
  
      h2 {
        padding-bottom: 8px;
        color: black;
      }
  
    }
  
  }