<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contenido">
  
  <ion-card>
    <ion-item>
      <img alt="Silhouette of mountains" src="./assets/images/perfil.jpg" />
      <h3>Instituto profesional DuocUC</h3>
    </ion-item>
    <ion-card>
      <h3>Alumno: {{ username }}</h3>
    </ion-card>
    <ion-list>
    <ion-item>
    <p>Carrera: {{alumno1.carrera}}</p>
    </ion-item>
    <ion-item>
      <p>Direccion: {{alumno1.direccion}}</p>
    </ion-item>
    <ion-item>
      <p>Sexo: {{alumno1.sexo}}</p>
    </ion-item>
    </ion-list>
  </ion-card>
</ion-content>