<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre de usuario</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nueva Contraseña</ion-label>
    <ion-input [(ngModel)]="newPassword" type="password"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="resetPassword()">Restablecer Contraseña</ion-button>
</ion-content>
