<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button>Atras</ion-back-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item lines="none">
    <ion-label>
    <h1>| Notificaciones |</h1>
    </ion-label>
  </ion-item>
</ion-header>
<ion-content>
  <div class="card">
    <span class="card__title">Anuncio de Francisco Calfún</span>
    <p class="card__text">Que fay</p>
    <button class="card__button">Recibido</button>
  </div>
  <div class="card">
    <span class="card__title">Anuncio de Luis Yagi</span>
    <p class="card__text">Se suspende la clase de hoy por que juega el colo</p>
    <button class="card__button">Recibido</button>
  </div>
</ion-content>