ion-header, ion-toolbar {
    --background: #ffd000;
    text-align: center;
  
    ion-title {
      color: black;
    }
  }
  
  ion-content {
    --background: white; // Cambiado a blanco
    ion-list{
        background:white;

        ion-menu-toggle{
            background:white;
        }
    }
    ion-item {
        --background:white;
      ion-icon, ion-label {
        color: black;
        padding: 15px;
      }
  
    }
  }
  